<div class="postform">
  <form class="example-form" [formGroup]="jobPostForm" (submit)="createJob()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Job Title</mat-label>
      <input required type="text" matInput formControlName="jobTitle"/>
    </mat-form-field>
    <!-- salary -->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Salary LPA</mat-label>
      <input required type="text" matInput formControlName="salary"/>
    </mat-form-field>
    <!-- location -->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Location</mat-label>
      <input required type="text" matInput formControlName="location"/>
    </mat-form-field>
    <!-- discription -->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Job Description</mat-label>
      <input required type="text" matInput formControlName="jobDescription"/>
    </mat-form-field>
    <button mat-raised-button type="submit">Post</button>
  </form>
</div>
