table {
  width: 100%;

  td.mat-cell {
    border-bottom-style: none;
  }

  th.mat-header-cell {
    border-bottom-style: none;
  }
}

.mat-header-row {
  display: none;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  padding-top: 50px;
  padding-bottom: 50px;
}

h2, h3, h4 {
    margin: 0;
}

.hovereffect:hover{
    background-color: #a5d9e9d0;
    transition: 1.5s;
}
.effect:hover{
    background-color: #a5d9e9d0;
    transition: 500s;
}
