<div class="container">
  <mat-card class="full-screen">
    <mat-card-title-group>
      <mat-card-title>Find Jobs</mat-card-title>
      <mat-card-subtitle
        >We bring all the opportunities around the world to your
        fingertips!</mat-card-subtitle
      >
    </mat-card-title-group>
    <mat-card-content>
      <div class="row">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="searchText"
          (keyup)="applyFilter()"
          autocomplete="off"
          placeholder="Search by job title, position, location ..."
        />
      </div>
    </mat-card-content>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="full-width">
        <!-- S.NO Column -->
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <!-- Job Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Position</th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <!-- Company Column -->
        <ng-container matColumnDef="company">
          <th mat-header-cell *matHeaderCellDef>Company</th>
          <td mat-cell *matCellDef="let element">{{ element.company }}</td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>

        <!-- Salary Column -->
        <ng-container matColumnDef="salary">
          <th mat-header-cell *matHeaderCellDef>Salary</th>
          <td mat-cell *matCellDef="let element">{{ element.salary }}</td>
        </ng-container>

        <!-- Location Column -->
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef>Location</th>
          <td mat-cell *matCellDef="let element">{{ element.location }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Apply</th>
          <td mat-cell *matCellDef="let element">
            <button
              [disabled]="element.candidates.includes(userId)"
              mat-button
              (click)="applyJob(element._id)"
            >
              {{ element.candidates.includes(userId) ? "Applied" : "Apply" }}
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[10, 20, 40]"
        showFirstLastButtons
        aria-label="Select page of jobs"
      >
      </mat-paginator>
    </mat-card-content>
    <mat-card-footer class="text-center">
      2022 Copyright reserved.
    </mat-card-footer>
  </mat-card>
</div>
