<div class="container">
  <mat-card class="full-screen">
    <mat-card-title-group>
      <mat-card-title>Find Jobs</mat-card-title>
      <mat-card-subtitle
        >We bring all the opportunities around the world to your
        fingertips!</mat-card-subtitle
      >
    </mat-card-title-group>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <div *ngFor="let job of jobs">
            <div class="card" style="width: 90%; margin: auto; cursor: pointer;" (click)="openJob(job)">
              <div class="card-body">
                <h2 class="card-title">{{ job.title }}</h2>
                <h3 class="card-subtitle text-muted">{{ job.company }}</h3>
                <h3 class="card-subtitle">{{ job.location }}</h3>
                <div>
                  <h5 class="card-text">{{ job.salary }}</h5>
                </div>
                <p class="card-text">{{ job.discription }}</p>
              </div>
            </div>
            <br>
          </div>
        </div>
        <div class="col">
          <h1>{{ jobInDisplay.company }}</h1>
          <h2>{{ jobInDisplay.title }}</h2>
          <h3>{{ jobInDisplay.location }}</h3>
          <h3>{{ jobInDisplay.salary }}</h3>
          <h3>{{ jobInDisplay.description }}</h3>
          <button mat-raised-button>Apply</button>

        </div>
      </div>
    </mat-card-content>
    <mat-card-footer class="text-center">
      2022 Copyright reserved.
    </mat-card-footer>
  </mat-card>
</div>
